<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contacto - Orange Sports </title>
   <link rel="shortcut icon" href="../img/favicon.png">
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
   <nav class="bg-light">
      <a href="../index.html">
            <img src="../img/logo3.png" alt="logo de OrangeSports">
         </a>
         <h3 class="text-center"> Zapateria Orange Sports <h3>
         <ul>
            <li>
               <a href="../views/Hombres.html">Hombres</a>
            </li>
            <li>
               <a href="../views/Mujer.html">Mujer</a>
            </li>
            <li>
               <a href="../views/contacto.html">Contacto</a>
            </li>
            <li>
               <a href="../views/nosotros.html">Nosotros</a>
            </li>
         </ul>
   </nav>
	<nav>
         <a href="index.html">
         </a>
	</nav>
	<!-- ends nav -->
	<header></header>
    <!-- ends header -->
    <main>
      <section>
         <h1 class="text-center"> Queres ser nuestro cliente registrate ya! </h1>
                <fieldset class= "novedades__articulo">
                    <h2 class= "text-left">Info personal</h2>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" placeholder="Gaston ">
                    <br>
                    <label for="email">Email:</label>
                    <input type="email" id="email" placeholder="mail@.com"> 
                    <br>
                    <label for="telefono">Telefono:</label>
                    <input type="number" id="Telefono" placeholder="Number">
                    <form>
                    <input type="submit"value="Enviar"/>
                    </form>
                </fieldset>
                <fieldset class="novedades__articulo">
                    <label for= "mensaje" >Deje su mensaje </label>
                    <textarea name="" id="mensaje" cols="150" rows="10"></textarea>
                    <input type="reset" value="Cancelar">
                    <input type="submit" value="Enviar">
               </fieldset>
                    <h2> Si necesitas contactarte con nosotros por temas institucionales/administrativos podés enviarnos un mail a consultas@orangesports.com.</h2>
                
                    
      </section>
    </main>
     <footer class="text-center">
        <h2>Seguinos en nuestras redes</h2>
             <a href="https://www.facebook.com" target="_blank">
             <img src="../img/facebook.png" alt="">
             </a>
             <a href="https://www.twitter.com" target="_blank">
             <img src="../img/twitter.png" alt="">
             </a>
     </footer>
            <h4>Zapateria orange sports Copyright 2020 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus illo impedit autem deserunt laboriosam! Officia eum doloribus perspiciatis aliquid in aut quas reiciendis voluptatibus voluptas qui id, exercitationem nihil quisquam!</h4>
</body>
</html>