<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Hombre - Orange Sports</title>
   <link rel="shortcut icon" href="../img/favicon.png">
   <link rel="stylesheet" href="../css/style.css">
</head>
<body class="container">
   <nav class="bg-light">
      <a href="../index.html">
         <img src="../img/logo3.png" alt="logo de OrangeSports">
     </a>
     <h3 class="text-center"> Zapateria Orange Sports <h3>
         <ul>
            <li>
               <a href="../views/Hombres.html">Hombres</a>
            </li>
            <li>
               <a href="../views/Mujer.html">Mujer</a>
            </li>
            <li>
               <a href="../views/contacto.html">Contacto</a>
            </li>
            <li>
               <a href="../views/nosotros.html">Nosotros</a>
            </li>
         </ul>
   </nav>
   <header>
         <h1 class="text-center"> Hombre</h1>
         <a href="index.html">  
         </a>
   </header>
    <main id="productos">
      <section class="galeria">
            <figure>
               <img src="../img/zapatillas1.jpg" alt="">
               <figcaption>Niki</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas2.jpg" alt="">
               <figcaption>Niki 2</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas3.jpg" alt="">
               <figcaption>Niki 3</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas4.jpg" alt="">
               <figcaption>Niki 4</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
           <figure>
               <img src="../img/zapatillas5.jpg" alt="">
               <figcaption>Niki 5</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas6.jpg" alt="">
               <figcaption>Niki 6</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas7.jpg" alt="">
               <figcaption>Niki 7</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas8.jpg" alt="">
               <figcaption>Niki 8</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas9.jpg" alt="">
               <figcaption>Niki 9</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas10.jpg" alt="">
               <figcaption>Niki 10</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas30.jpg" alt="">
               <figcaption>Niki</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas31.jpg" alt="">
               <figcaption>Niki</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
       </section>
           <br>
            <fieldset class="bg-light novedades__articulo">
               <legend>Info de envio</legend>
                  <label for="local">Retiro en el local</label>
                  <input type="radio" id="local" value="local" name="envio">
                  <br>
                  <label for="casa">Envio a mi domicilio</label>
                  <input type="radio" id="casa" value="casa" name="envio">
                  <br>
                  <label for="localidad">Provincia</label>
                  <select name="" id="localidad">
                     <option value="CABA">Ciudad de bs as</option>
                     <option value="BSAS">Provincia de bsas</option>
                     <option value="Interior">Interior del pais</option>
                  </select>
            </fieldset>
       </section>
    </main>
         <footer class="text-center">
             <h2>Seguinos en nuestras redes</h2>
            <a href="https://www.facebook.com" target="_blank">
            <img src="../img/facebook.png" alt="">
            </a>
            <a href="https://www.twitter.com" target="_blank">
            <img src="../img/twitter.png" alt="">
            </a>
         </footer>
            <h4>Zapateria orange sports Copyright 2020 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus illo impedit autem deserunt laboriosam! Officia eum doloribus perspiciatis aliquid in aut quas reiciendis voluptatibus voluptas qui id, exercitationem nihil quisquam!</h4>
</body>
</html>