<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mujer - Orange Sports</title>
   <link rel="shortcut icon" href="../img/favicon.png">
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
   <nav class="bg-light">
      <a href="../index.html">
            <img src="../img/logo3.png" alt="logo de OrangeSports">
         </a>
         <h3 class="text-center"> Zapateria Orange Sports <h3>
         <ul>
            <li>
               <a href="../views/Hombres.html">Hombres</a>
            </li>
            <li>
               <a href="../views/Mujer.html">Mujer</a>
            </li>
            <li>
               <a href="../views/contacto.html">Contacto</a>
            </li>
            <li>
               <a href="../views/nosotros.html">Nosotros</a>
            </li>
         </ul>
   </nav>
	<header>
      <h1 class="text-center"> Mujer</h1>
         <a href="index.html">
         </a>
	</header>
    <main id="productos">
      <section class="galeria" class="gridcolumn">
            <figure>
               <img src="../img/zapatillas11.jpg" alt="">
               <figcaption>Nike aor</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas12.jpg" alt="">
               <figcaption>New Balance 1</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas13.jpg" alt="">
               <figcaption>New Balance 2</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
             <figure>
               <img src="../img/zapatillas14.jpg" alt="">
               <figcaption>Nike aor</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
             <figure>
               <img src="../img/zapatillas15.jpg" alt="">
               <figcaption>Nike aor</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
             <figure>
               <img src="../img/zapatillas16.jpg" alt="">
               <figcaption>Nike aor</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
             <figure>
               <img src="../img/zapatillas17.jpg" alt="">
               <figcaption>Nike aor</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
             <figure>
               <img src="../img/zapatillas18.jpg" alt="">
               <figcaption>Nike aor</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
             <figure>
               <img src="../img/zapatillas19.jpg" alt="">
               <figcaption>Nike aor</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
             <figure>
               <img src="../img/zapatillas20.jpg" alt="">
               <figcaption>Nike aor</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas21.jpg" alt="">
               <figcaption>Nike aor</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
            <figure>
               <img src="../img/zapatillas22.jpg" alt="">
               <figcaption>Nike aor</figcaption>
               <p class="price">$5200</p>
               <button>Comprar</button>
            </figure>
       </section>
           <br>
            <fieldset class="bg-light novedades__articulo">
               <legend>Info de envio</legend>
                  <label for="local">Retiro en el local</label>
                  <input type="radio" id="local" value="local" name="envio">
                  <br>
                  <label for="casa">Envio a mi domicilio</label>
                  <input type="radio" id="casa" value="casa" name="envio">
                  <br>
                  <label for="localidad">Provincia</label>
                  <select name="" id="localidad">
                     <option value="CABA">Ciudad de bs as</option>
                     <option value="BSAS">Provincia de bsas</option>
                     <option value="Interior">Interior del pais</option>
                  </select>
            </fieldset>
       </section>
    </main>
       <footer class="text-center">
            <h2>Seguinos en nuestras redes</h2>
            <a href="https://www.facebook.com" target="_blank">
            <img src="../img/facebook.png" alt="">
            </a>
            <a href="https://www.twitter.com" target="_blank">
            <img src="../img/twitter.png" alt="">
            </a>
      </footer>
            <h4>Zapateria orange sports Copyright 2020 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus illo impedit autem deserunt laboriosam! Officia eum doloribus perspiciatis aliquid in aut quas reiciendis voluptatibus voluptas qui id, exercitationem nihil quisquam!</h4>
</body>
</html>